<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <main>
      <body>
        <div class="window">
          <img src="./img/js.jpg" class="image" alt="JS" />
          <p class="text">
            Событийный цикл (Event loop) является ключом к понимаю асинхронного
            программирования на JS. Сам язык однопоточный, но событийный цикл
            позволяет создать дополнительные потоки, для ускорения работы кода
          </p>
          <p class="text">
            Стэк вызововов это механизм предназначеный для отслеживания текущего
            местонахождения интерпретатора в скрипте. Он вызывает несколько
            функций и определяет, какая выполняется в данный момент, какие
            функции внутри и какая функция будет вызвана следующей. Тема
            довольно интересная, особенно учитывая факт, любые данные от сервера
            запрашиваются асинхронно
          </p>
        </div>
      </body>
    </main>
  </body>
</html>
